// стили формы события внутри модального окна
.create-event {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__close-btn {
        opacity: 0.5;
        cursor: pointer;
        height: 25px;
        border-radius: 20px;
        border: none;
        &:hover {
            opacity: 1;
            background-color: $color-close-button;
        }
    }
}

.event-form {
    display: flex;
    flex-direction: column;
    &__time {
        display: flex;
        flex-direction: column;
    }
    &__field {
        width: 100%;
        margin-bottom: 10px;
        border: 2px solid $border-color-grey;
    }
    &__submit-btn {
        background-color: $background-white;
        border: none;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &-update {
            display: flex;
            margin-left: 62px;
        }
    }
}

.event-time {
    margin: auto;
    margin-bottom: 10px;
}