// стили боковой временной шкалы
.time-slot {
    width: 48px;
    height: 60px;
    position: relative;
    z-index: 0;
    &__time {
        position: absolute;
        left: 12px;
        bottom: 0px;
        margin: 0 auto;
        font-size: 12px;
    }
}