$border-color-grey: rgb(204, 204, 204);
$border-dark-grey:rgb(73, 77, 78);
$background-light-grey:rgba(204, 204, 204, 0.271);
$background-white:rgb(255, 255, 255);
$background-grey-blue:rgb(108, 151, 230);
$background-red:rgb(220, 20, 60);
$color-close-button: rgb(204, 204, 204);
$color-black: rgb(15, 15, 15);
$color-white: rgb(255, 255, 255);
$color-current-day: rgb(47, 105, 242);
$color-day-label: rgb(127, 127, 127);